* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
  }
  
  .hero {
    background: #4e54c8;
    color: white;
    text-align: center;
    padding: 35px 20px;
  }
  
  .btn {
    background: white;
    color: #4e54c8;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
  }
  
  .navbar {
    background: #333;
    text-align: center;
    padding: 10px;
  }
  
  .navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  
  section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
  }
  
  .skills-list li {
    background: #ddd;
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  .project {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(25, 25, 26, 0.918);
  }
  
  .project img {
    width: 60%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .skills-list {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar {
      flex-direction: column;
    }
  
    .navbar a {
      display: block;
      margin: 10px 0;
    }
  }