body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #2b2929;
  font-family: Arial, sans-serif;
}
.calculator {
  background: #5a5757;
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  border-radius: 20px;
  box-shadow: 0 0 40px #28b6f8;
  margin-right: 50px;
  margin-left: 50px;
  border: 2px solid black;

}
.display {
  width: 75%;
  height: 60px;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 10px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 20px;
}
button {
  height: 60px;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 10px;
  background: #302f33;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background: #666;
}